.add-story {
  width: 70vw;
  max-width: 80vw;
  // width: 100%;
  // height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 2em 1em;
  // border: 2px solid black;
  display: grid;
  gap: 1em;
  justify-items: center;

  @media (min-width: 800px) {
    width: 90vw;
  }

  .back-button {
    position: absolute;
    left: 1em;
    top: 1em;
    padding: 0.5em;

    @media (min-width: 800px) {
      left: 2em;
      top: 2em;
    }
  }

  .heading-2 {
    text-align: center;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    padding: 0 2em;

    &--inner-container {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      @media (min-width: 800px) {
        flex-direction: row;
      }

      &-column {
        h3 {
          padding: 1em;
          text-align: center;
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: start;
          flex-direction: column;
          padding: 0.6em;

          input[type="text"] {
            font-size: 20px;
            padding: 0.2em;
            width: 90%;
          }
          input[type="number"] {
            font-size: 20px;
            padding: 0.2em;
            width: 90%;
          }
          input[type="checkbox"] {
            margin: 0.22em;
            font-size: 20px;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid black;
            align-self: center;
          }
        }
      }
    }

    .content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      label {
        align-self: center;
      }
      textarea {
        height: 10em;
        width: 100%;
        margin: 0 auto;
        padding: 0.2em;
        font-size: 20px;
      }
    }
    p {
      text-align: center;
    }
  }

  button {
    // margin: 2em auto;
  }
}
