.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  align-items: center;

  @media (min-width: 800px) {
    width: 86%;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5em;

    @media (min-width: 500px) {
      gap: 1em;
    }

    .logo {
      width: 30%;
      @media (min-width: 800px) {
        width: 50%;
      }
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 800px) {
      flex-direction: row;
      gap: 2.5rem;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover,
      &.active {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }
  }
}
